# Build Folders
bin/
obj/
[Bb]uild/
[Bb]uilds/

# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec

# Logs
*.log

# Test Results
TestResults/
*.trx
*.coverage
*.coveragexml

# Other
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

# Resharper
_ReSharper*/
*.DotSettings.user

# Global JetBrains Rider settings
.idea/

# ASP.NET
appsettings.*.json

# Local secrets
secrets.json
